<h1>Lista de Niveles de Catequesis</h1>
<a href="{{ url_for('nivel.insertar') }}">+ Nuevo nivel</a>
<table border="1" cellpadding="6">
    <thead>
        <tr>
            <th>ID</th><th>Orden</th><th>Nombre</th><th>Descripción</th><th>Libro</th><th>Tipo Sacramento</th><th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for n in niveles %}
        <tr>
            <td>{{ n.id_nivel_catequesis }}</td>
            <td>{{ n.orden }}</td>
            <td>{{ n.nombre_nivel }}</td>
            <td>{{ n.descripcion }}</td>
            <td>{{ n.id_libro or '—' }}</td>
            <td>{{ n.id_tipo_sacramento or '—' }}</td>
            <td>
                <a href="{{ url_for('nivel.actualizar', id=n.id_nivel_catequesis) }}">Editar</a>
                <a href="{{ url_for('nivel.eliminar', id=n.id_nivel_catequesis) }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>