<h1>Registrar Catequizando</h1>
<form method="post">
    <label>Nombre:</label><br>
    <input name="nombre" placeholder="Nombre" required><br>

    <label>Apellido:</label><br>
    <input name="apellido" placeholder="Apellido" required><br>

    <label>Fecha de nacimiento:</label><br>
    <input name="fecha_nacimiento" type="date" required><br>

    <label>Documento de identidad:</label><br>
    <input name="documento_identidad" placeholder="Documento de identidad" required><br>

    <label>Fecha de registro:</label><br>
    <input name="fecha_registro" type="date" required><br>

    <label>Bautizado:</label><br>
    <select name="bautizado">
        <option value="S">Sí</option>
        <option value="N">No</option>
    </select><br>

    <label>Parroquia:</label><br>
    <select name="id_parroquia">
        <option value="">-- Seleccione una parroquia --</option>
        {% for parroquia in parroquias %}
            <option value="{{ parroquia.id_parroquia }}">{{ parroquia.nombre }}</option>
        {% endfor %}
    </select><br>

    <br>
    <button type="submit">Guardar</button>
</form>
