<h1>Registrar Ciclo Catequístico</h1>
<form method="post">
    <input name="nombre" placeholder="Nombre" required><br>
    <input type="date" name="fecha_inicio" required><br>
    <input type="date" name="fecha_fin" required><br>
    
    <select name="id_nivel" required>
        <option value="">Seleccione Nivel</option>
        {% for nivel in niveles %}
        <option value="{{ nivel.id_nivel_catequesis }}">{{ nivel.nombre_nivel }}</option>
        {% endfor %}
    </select><br>

    <button type="submit">Guardar</button>
</form>
