<h1>Nuevo Certificado</h1>
<form method="POST">
    <label for="contenido">Contenido:</label>
    <input type="text" name="contenido" required><br><br>

    <label for="fecha_emision">Fecha de Emisión:</label>
    <input type="date" name="fecha_emision" required><br><br>

    <label for="id_inscripcion">ID de Inscripción:</label>
    <select name="id_inscripcion" required>
        {% for insc in inscripciones %}
            <option value="{{ insc.id_inscripcion }}">{{ insc.id_inscripcion }}</option>
        {% endfor %}
    </select><br><br>

    <button type="submit">Guardar</button>
    <a href="{{ url_for('certificado.index') }}">Cancelar</a>
</form>
