<h1>Actualizar Parroquia</h1>
<form method="post">
    <input name="nombre" value="{{ parroquia.nombre }}"><br>
    <input name="direccion" value="{{ parroquia.direccion }}"><br>
    <input name="ciudad" value="{{ parroquia.ciudad }}"><br>
    <input name="telefono" value="{{ parroquia.telefono }}"><br>
    <input name="correo" value="{{ parroquia.correo_electronico }}"><br>
    <input name="id_parroquia_principal" value="{{ parroquia.id_parroquia_principal }}"><br>
    <button type="submit">Actualizar</button>
</form>
